<div layout-margin layout="row" layout-align="center center">
  <div md-whiteframe="4" flex="30">
    <md-toolbar class="md-primary" layout="row">
      <h2 class="md-toolbar-tools">
        Modificar Cliente
      </h2>
    </md-toolbar>
    <md-content layout-padding="layout-padding">
      <form name="modClientCtrl.modClientForm" novalidate ng-submit="modClientCtrl.modClientForm.$valid && modClientCtrl.updateClient()">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Tipo</label>
            <md-select ng-model="modClientCtrl.data.idType" name="idType" required>
              <md-option value="v">
                V
              </md-option>
              <md-option value="e">
                E
              </md-option>
              <md-option value="p">
                P
              </md-option>
              <md-option value="j">
                J
              </md-option>
            </md-select>
             <form-validation errors="modClientCtrl.modClientForm.idType.$error">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Cedula</label>
            <input ng-model="modClientCtrl.data.idNumber" name="idNumber" type="number" maxlength="8" minlength="7" required>
            <form-validation errors="modClientCtrl.modClientForm.idNumber.$error">
          </md-input-container>
        </div>
        <md-input-container class="md-block">
          <label>Nombre</label>
          <input ng-model="modClientCtrl.data.firstName" name="firstName" maxlength="25" minlength="3" required>
          <form-validation errors="modClientCtrl.modClientForm.firstName.$error">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Apellido</label>
          <input ng-model="modClientCtrl.data.lastName" name="lastName" maxlength="25" minlength="3" required>
          <form-validation errors="modClientCtrl.modClientForm.lastName.$error">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Correo Electronico</label>
          <input ng-model="modClientCtrl.data.email" name="emailfield" type="email" maxlength="30" minlength="3" required>
          <form-validation errors="modClientCtrl.modClientForm.emailfield.$error">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Telefono</label>
          <input ng-model="modClientCtrl.data.phoneNumber" name="phoneNumber" type="number" maxlength="25" minlength="3" required>
          <form-validation errors="modClientCtrl.modClientForm.phoneNumber.$error">
        </md-input-container>
        <div layout="row" layout-sm="column" layout-align="center center">
          <md-button type="submit" class="md-raised md-primary">
            Enviar
          </md-button>
          <md-button class="md-raised" ng-href="home">
            Salir
          </md-button>
        </div>
      </form>
    </md-content>
  </div>
</div>