<div layout-margin layout="row" layout-align="center center">
  <div md-whiteframe="4" flex="35">
    <md-toolbar class="md-primary" layout="row">
      <h2 class="md-toolbar-tools">
        Cambiar Password
      </h2>
    </md-toolbar>
    <md-content layout-padding="layout-padding">
      <form name="changePassCtrl.changePassForm" novalidate ng-submit="changePassCtrl.changePassForm.$valid && changePassCtrl.saveChanges()">
        <md-input-container class="md-block">
          <label>Password Actual</label>
          <input ng-model="changePassCtrl.newData.oldPassword" name="oldpassword" type="password" maxlength="25" minlength="6" required>
          <form-validation errors='changePassCtrl.changePassForm.oldpassword.$error'>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Nuevo Password</label>
          <input ng-model="changePassCtrl.newData.newPassword" name="newpassword" type="password" maxlength="25" minlength="6"  required>
          <form-validation errors='changePassCtrl.changePassForm.newpassword.$error'>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Confirmar nuevo Password</label>
          <input ng-model="changePassCtrl.confirmpassword" name="confirmpassword" type="password" maxlength="25" minlength="6" ng-pattern="changePassCtrl.newData.newPassword" required>
          <form-validation errors='changePassCtrl.changePassForm.confirmpassword.$error' invalidpattern="No coinciden los campos">
        </md-input-container>
        <div layout="row" layout-sm="column" layout-align="center center">
          <md-button type="submit" class="md-raised md-primary">
            Guardar
          </md-button>
          <md-button class="md-raised" ng-href="home">
            Salir
          </md-button>
        </div>
      </form>
    </md-content>
  </div>
</div>