<div layout-margin layout="row" layout-align="center center">
  <div md-whiteframe="4" flex="30">
    <md-toolbar class="md-primary" layout="row">
      <h2 class="md-toolbar-tools">
        Crear Cuenta
      </h2>
    </md-toolbar>
    <md-content layout-padding="layout-padding">
      <form name="resetPassCtrl.resetPassForm" novalidate ng-submit="resetPassCtrl.resetPassForm.$valid && resetPassCtrl.enviar()">
        <div layout-gt-sm="row">
          <md-input-container class="md-block">
          <label>Nuevo Password</label>
          <input ng-model="resetPassCtrl.password" name="password" type="password" maxlength="25" minlength="6" required>
          <form-validation errors="resetPassCtrl.resetPassForm.password.$error">
        </md-input-container>
        </div>
        <div layout="row" layout-sm="column" layout-align="center center">
          <md-button type="submit" class="md-raised md-primary">
            Guardar
          </md-button>
          <md-button class="md-raised" ng-href="home">
            Salir
          </md-button>
        </div>
      </form>
    </md-content>
  </div>
</div>